<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Админ</title>
</head>
<body>
    <div class="header" th:insert="index::header"></div>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Пароль (зашифрованный)</th>
            <th>Роль</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.password}"></td>
            <td th:text="${user.roles}"></td>
            <td><a th:href="@{user-update/{id}(id=${user.id})}">Изменить</a></td>
            <td><a th:href="@{user-delete/{id}(id=${user.id})}">Удалить</a></td>
        </tr>
        </tbody>
    </table>

</body>
</html>
