<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Список докладов</title>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="header" th:insert="index::header"></div>

<div style="margin: 20px 0;" class="row justify-content-md-end">
    <div class="col-md-4">
        <a class="btn btn-secondary btn-lg active" role="button" aria-pressed="true"th:href="@{/talk-create}">Создать доклад</a>
    </div>
</div>

<div class="row justify-content-md-center">
    <div class="col-md-8">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Тема</th>
                <th scope="col">Аннотация</th>
                <th scope="col">Аудитория</th>
                <th scope="col">Время</th>
                <th scope="col">Изменить</th>
                <th scope="col">Удалить</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="talk : ${talks}">
                <td th:text="${talk.id}"></td>
                <td th:text="${talk.theme}"></td>
                <td th:text="${talk.shortInfo}"></td>
                <td th:text="${talk.schedule.room.number}"></td>
                <td th:text="${talk.schedule.timeOfTalk}"></td>
                <td><a th:href="@{talk-update/{id}(id=${talk.id})}">Изменить</a></td>
                <td><a th:href="@{talk-delete/{id}(id=${talk.id})}">Удалить</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>
